<div class="container">
  <h1>Task List</h1>
  <div>
    <p class="fw-bold">Filters:</p>
    <div class="filters-form">
      <span>
        <select class="form-select">
          <option selected>Status</option>
          <option value="to-do">To Do</option>
          <option value="in-progress">In Progress</option>
          <option value="complete">Complete</option>
        </select>
        <select class="date-select">
          <option selected>Date</option>
          <option value="1">To Do</option>
          <option value="2">In Progress</option>
          <option value="3">Complete</option>
        </select>
        <select class="priority-select">
          <option selected>Priority</option>
          <option value="1">Low</option>
          <option value="2">Medium</option>
          <option value="3">High</option>
        </select>
        </span>
    </div>
    <div>

    </div>
  </div>
</div>
