<h1 class="header">
    Task List
  </h1>
  <div class="d-flex align-items-center filters-row">
    <p class="fw-bold me-2">Filters:</p>
    <div class="filters-form d-flex align-items-center">
        <select class="form-select me-2">
          <option selected>Status</option>
          <option value="to-do">To Do</option>
          <option value="in-progress">In Progress</option>
          <option value="complete">Complete</option>
        </select>
        <select class="date-select me-2">
          <option selected>Date</option>
          <option value="">Last 30 Days</option>
          <option value="">Six Months ago</option>
          <option value="">Custom</option>
        </select>
        <select class="priority-select me-2">
          <option selected>Priority</option>
          <option value="low">Low</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
        </select>
        <button class="btn bnt-add-task btn-success">Add New Task</button>
      </div>
    <div>
  </div>
</div>

