<div class="modal" [class.show]="isModalVisible" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a New Task</h1>
        <input type="text" placeholder="Title">
        <textarea class="form-control" placeholder="Description" rows="5"></textarea>
        <input type="date" id="date" placeholder="Due Date">
        <select class="form-control" id="priority" aria-placeholder="Priority">
          <option value="low">Low</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
        </select>
        <select class="form-control" id="status" aria-placeholder="Status">
          <option value="toDo">To Do</option>
          <option value="inProgress">In Progress</option>
          <option value="status">Completed</option>
        </select>
        <button type="button" class="btn btn-dark">Cancel</button>
        <button type="submit" class="btn btn-success">Create</button>
      </div>
    </div>
  </div>
</div>
