<div class="modal" [class.show]="isModalVisible" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a New Task</h1>
        <form (ngSubmit)="onCreate()">
          <input
            [(ngModel)]="title"
            type="text"
            name="title"
            placeholder="Title">
          <input
            [(ngModel)]="date"
            type="date"
            id="date"
            name="date"
            placeholder="Due Date">
          <select
            [(ngModel)]="priority"
            class="form-control"
            id="priority"
            name="priority">
              <option value="" selected disabled>Priority</option>
              <option value="Low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
          </select>
          <select
            [(ngModel)]="status"
            class="form-control"
            id="status"
            name="status">
              <option value="" selected disabled>Status</option>
              <option value="To Do">To Do</option>
              <option value="In Progress">In Progress</option>
              <option value="Status">Completed</option>
          </select>
          <button
            type="button"
            class="btn btn-dark"
            (click)="closeModal()"
            >Cancel
          </button>
          <button
            type="submit"
            class="btn btn-success"
            >Create
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
