<div class="row">
  <div class="col-xs-12">
    <form>
      <h1>Welcome Back!</h1>
      <p>Lets get to work.</p>
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email" id="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control">
      </div>
      <p>Don't have an account?</p>
      <a>Sign Up</a>
      <button class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
