<div class="row">
  <div class="col-md-9">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col-md-4">Title</th>
        <th scope="col-md-2">Due Date</th>
        <th scope="col-md-2">Priority</th>
        <th scope="col-md-2">Status</th>
        <th scope="col-md-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <th>{{ task.title }}</th>
        <th>{{ task.date | date: 'MM-dd-yyyy'}}</th>
        <th>{{ task.priority }}</th>
        <th class="open">{{ task.status }} <span><a><img src="assets/icons/caret.svg"></a></span></th>
        <th
        style="width: 89.8px;
        height: 17.8px;
        top: 58px;
        left: 1017px;">
          <img src="assets/icons/eye.svg/">
          <img src="assets/icons/edit.svg">
          <img src="assets/icons/delete.svg">
        </th>
      </tr>
    </tbody>
  </table>
</div>
</div>

