<div class="row">
  <div class="col-md-9">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col-md-4">#</th>
        <th scope="col-md-4">Title</th>
        <th scope="col-md-2">Due Date</th>
        <th scope="col-md-2">Priority</th>
        <th scope="col-md-2">Status</th>
        <th scope="col-md-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.date | date: 'MM-dd-yyyy'}}</td>
        <td>{{ task.priority }}</td>
        <td
          class="open">{{ task.status }}
          <span>
            <a>
              <img src="assets/icons/caret.svg">
            </a>
          </span>
        </td>
        <th
          style="width: 89.8px;
          height: 17.8px;
          top: 58px;
          left: 1017px;">
        <ul
          style="list-style-type: none;
          display: flex;
          justify-content: space-evenly;">
          <li>
            <a>
              <img src="assets/icons/eye.svg/">
            </a>
          </li>
          <li routerLinkActive="active">
            <a
              class="list-group-item"
              style="cursor: pointer"
              role="button"
              routerLink="/tasks{{ task.id }}/edit"
              (click)="onEditTask(i)">
              <img src="assets/icons/edit.svg">
            </a>
          </li>
          <li>
            <div
              class="modal"
              *ngIf="showModal && task.id === taskSelected?.id">
              <div class="modal-content">
                <button
                  type="button"
                  (click)="onCancelModal()">X
                </button>
                <h2>
                  Are you sure you want to delete task '{{taskSelected.title}}'?
                </h2>
                <button
                  type="button"
                  class="btn btn-dark"
                  (click)="onCancelModal()">Cancel
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="onConfirmDelete()">Delete
                </button>
              </div>
            </div>
            <a
              class="task-remove-icon"
              style="cursor: pointer"
              role="button"
              (click)="onDeleteTask(task.id)">
              <img src="assets/icons/delete.svg">
            </a>
          </li>
        </ul>
      </th>
    </tr>
  </tbody>
</table>
</div>
</div>

<app-task-edit [class.show]="showModal"></app-task-edit>
