<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <form (ngSubmit)="onUpdateTask(f)" #f="ngForm"
        *ngFor="let task of task; let i = index;">
        <input
          type="text"
          id="name"
          class="form-control"
          name="title"
          ngModel>
        <input
          [(ngModel)]="date"
          type="date" id="date" placeholder="Due Date">
        <select
          [(ngModel)]="priority"
          class="form-control" id="priority">
          <option value="" selected disabled>Priority</option>
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
        <select
          [(ngModel)]="status"
          class="form-control" id="status">
          <option value="" selected disabled>Status</option>
          <option value="To Do">To Do</option>
          <option value="In Progress">In Progress</option>
          <option value="Status">Completed</option>
        </select>
        <button
          type="submit"
          class="btn btn-dark"
          >Cancel
        </button>
        <button
          type="submit"
          class="btn btn-success"
          (click)="onUpdateTask(f)">Update
        </button>
      </form>
      </div>
    </div>
  </div>
</div>
