<div class="modal" (toggleModal)="isModalVisible" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <form [formGroup]="taskForm" (ngSubmit)="onUpdateTask()">
        <input
          type="text"
          id="title"
          formControlName="title"
          class="form-control">
        <input
          type="date"
          id="date"
          formControlName="date">
        <select
          class="form-control"
          id="priority"
          formControlName="priority">
            <option value="" selected disabled>Priority
            </option>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>
        <select
          class="form-control"
          id="status"
          formControlName="status">
            <option value="" selected disabled>Status</option>
            <option value="To Do">To Do</option>
            <option value="In Progress">In Progress</option>
            <option value="Status">Completed</option>
        </select>
        <button
          type="submit"
          class="btn btn-dark"
          (click)="onCancel()">Cancel
        </button>
        <button
          type="submit"
          class="btn btn-success">Update
        </button>
      </form>
      </div>
    </div>
  </div>
</div>
