<div class="menu-left-side col-md-3">
    <div class="wrapper">
      <h1 class="logo">
        <span class="taskWord">TASK</span><span>IT</span>
      </h1>
      <button type="button" class="btn btn-success">Task List</button>
      <div class="user">
        <div class="list-group">
          <div *ngFor="let user of user" class="list-group-item">
              <img
                src="{{ user.imagePath }}"
                alt="{{ user.email }}"
                class="img-fluid rounded-circle userImg"
                style="max-height: 50px; width: 50px;"
              />
            <div class="ml-3">
              <p class="list-group-item-heading">{{ user.email }}</p>
            </div>
            <div class="float-right logoutIcon">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
