<div class="container">
  <h1>
    Welcome to
    <span class="taskWord">TASK</span>
    IT
  </h1>
  <p>This platform allows you to keep track of tasks professionally, domestically, and more. Sign up today to get to work!</p>
  <div>
    <img src="/assets/images/landing-page-img 1.png" alt="landing-page-img">
  </div>
  <p>Create an account to get started today.</p>
  <div>
    <button type="button" class="sign-up btn btn-success">Sign Up</button>
    or
    <button type="button" class="login btn btn-outline-success">Login</button>
  </div>
</div>
