<div class="container" style="padding: inherit;">
  <h1 style="text-align: center;">
    Welcome to
    <span class="taskWord">TASK</span>
    IT
  </h1>
  <p style="text-align: center;">This platform allows you to keep track of tasks professionally, domestically, and more. Sign up today to get to work!</p>
  <div>
    <img style="width: 100%;" src="/assets/images/landing-page-img 1.png" alt="landing-page-img">
  </div>
  <p style="text-align: center;">Create an account to get started today.</p>
  <div style="display: flex; justify-content: center; align-items: baseline;">
    <button
      type="button"
      class="sign-up btn btn-success"
      (click)="onSignUp()">Sign Up
    </button>
    <p style="text-align: center;">or</p>
    <button
      style="color: #48C15B;"
      type="button"
      class="login btn btn-outline-success"
      (click)="onLogin()">Login
    </button>
  </div>
</div>
